$light-gray: #EAEAEA;
$gray: #8D8D8D;
$dark-gray: #444444;

$base: #6F7B7A;
$sub1: #857C79;
$sub2: #616161;
$sub3: #464242;

$pink: #BE8585;

//タグカラー
$color1: rgb(111,123,122);
$color2: rgb(70,66,66);
$color3: rgb(139,117,120);
$color4: rgb(178,168,158);
$color5: rgb(115,123,136);
$color6: #BE8585;
$color7: #BAAFAF;
$color8: rgb(100,74,83);
$color9 : rgb(70,66,66);
$color10: rgb(139,117,120);

@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Shippori+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

$eng : 'Rochester', cursive;
$jp : 'Kaisei Tokumin', serif;
$sacramento: 'Sacramento', cursive;